<p>These are unofficial packages created by the community.<br>
Currently, there is no official support for them.</p>
<table class="table table-dark">
    <thead>
        <tr>
            <td>OS</td>
            <td>Package Name</td>
            <td>URL</td>
        </tr>
    </thead>
    <tbody>
        {% for p in website.get_packages() %}
        <tr>
            <td>{{p[0]}}</td>
            <td>{{p[1]}}</td>
            <td><a class="highlighted-text" href="{{p[2]}}">{{p[2]}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

