<p>Current stable version is:&nbsp;<span class="highlighted-text">{{downloads.current_version}}</span>
(See the <a class="highlighted-text" href="{{website.repo_url}}/blob/master/CHANGELOG.md">What's New</a>)</p>
<table class="table table-dark">
    <thead>
        <tr>
            <td>Name</td>
            <td>Release Date</td>
            <td>Size</td>
        </tr>
    </thead>
    <tbody>
        {% for d in downloads.releases %}
        <tr>
            <td><a href="download/{{d.id}}/{{d.name}}">{{d.name}}</a></td>
            <td>{{d.release_date}}</td>
            <td>{{d.size}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 
