/* Write your global styles here, in PostCSS syntax */
:root {
    --main-background: #2b2b2b;
    --main-foreground: #eeeeee;
    --color-primary: #c03131;
    --color-secondary: #f7ca08;
    --color-dark: #262626;
    --color-light: #ecf0f1;
}

body {
    background-color: var(--main-background);
    color: var(--main-foreground);
    font-family: sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

