{% extends "components/page.html" %}

{% block content %}
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="releases-tab" data-toggle="tab" href="#releases" role="tab">Releases</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="nightlies-tab" data-toggle="tab" href="#nightlies" role="tab">Nightly Builds</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="packages-tab" data-toggle="tab" href="#packages" role="tab">Packages</a>
  </li>
</ul>
<br>
<div class="tab-content">
  <div class="tab-pane fade show active" id="releases" role="tabpanel" aria-labelledby="releases-tab">
    <div class="mb-3">
      Current stable version is: 2.1.1 (See the Changelog)
    </div>
    <div id="package-table"></div>
  </div>
  <div class="tab-pane fade show" id="nightlies" role="tabpanel" aria-labelledby="nightlies-tab">
  <div class="mb-3">
    Nightly builds are provided by <a href="https://ci.appveyor.com/project/Dax89/redasm-ntvg3">AppVeyor</a>.<br>
    They provides the latest features and bugfixes, but they can be unstable.
  </div>
  <div id="nightlies-table">Loading...</div>
  </div>
  <div class="tab-pane fade show" id="packages" role="tabpanel" aria-labelledby="packages-tab">
    <div class="mb-3">
      Unofficial packages created by the community.
    </div>
    <table class="table table-hover">
        <thread>
          <tr>
          {% for h in database.packages.header %}
          <th>{{ h.label }}</th>
          {% endfor %}
          </tr>
        </thread>
        <tbody>
          {% for d in database.packages.data %}
          <tr>
            {% for h in database.packages.header %}
            {% if h.value == "url" %}
            <td><a href="{{ d[h.value] }}">{{ d[h.value] }}</a></td>
            {% else %}
            <td>{{ d[h.value] }}</td>
            {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<script>
  let tabnightlies = document.getElementById("nightlies-table");
  let ostypes = [ ];

  function createHeader(table) {
    let head = table.createTHead();
    let row = head.insertRow();

    let cell = row.insertCell();
    cell.classList.add("text-center");
    cell.innerText = "OS";

    cell = row.insertCell();
    cell.classList.add("text-center");
    cell.innerText = "Build Date";

    cell = row.insertCell();
    cell.classList.add("text-center");
    cell.innerText = "Commit Hash";
  }

  function createButton(ostype, buildid) {
    let a = document.createElement("a");
    a.classList.add("btn", "btn-outline-primary", "mx-2");
    a.href = "/api/download/" + ostype + "/" + buildid;
    a.innerText = ostype;
    return a;
  }

  axios.get("/api/ostypes")
       .then((response) => {
         ostypes = response.data;
         return axios.get("/api/nightlies");
       })
      .then((response) => {
        tabnightlies.innerHTML = "";

        let table = tabnightlies.appendChild(document.createElement("table"));
        table.classList.add("table", "table-sm");
        createHeader(table);

        let body = table.createTBody();

        for(let build of response.data) {
          let row = body.insertRow();

          let cell = row.insertCell();
          cell.classList.add("align-middle", "text-center");
          ostypes.forEach((ostype) => cell.appendChild(this.createButton(ostype, build.buildId)));

          cell = row.insertCell();
          cell.classList.add("align-middle", "text-center");
          cell.innerText = new Date(build.created).toLocaleString();

          cell = row.insertCell();
          cell.classList.add("align-middle", "text-center");

          let a = cell.appendChild(document.createElement("a"));
          a.href = "https://github.com/REDasmOrg/REDasm/commit/" + build.commitId;
          a.innerText = build.commitId;
        }
      })
      .catch(error => tabnightlies.innerText = error);
</script>
{% endblock %}
