{% extends "components/page.html" %}

{% block content %}
<div>
  <p>REDasm is under heavy development but it provides several interesting features:</p>
  <ul>
    {% for feature in features %}
      {% if feature %}
        <li>{{feature | trim}}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <h5 class="text-uppercase">Supported Formats</h5>
  <ul>
    {% for format in formats %}
      {% if format %}
        <li>{{format | trim}}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <h5 class="text-uppercase">Supported Assemblers</h5>
  <ul>
    {% for assembler in assemblers %}
      {% if assembler %}
        <li>{{assembler | trim}}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <p>
  Check the <a href="/roadmap">Roadmap</a> for more features and ideas or
  <a href="{{website.bugtracker_url}}">open an issue on GitHub!</a></p>
</div>
{% endblock %}
