[Unit]
Description=uWSGI instance to redasm.io
After=network.target

[Service]
User=www
Group=nginx
WorkingDirectory=/srv/www/redasm_io
Environment="PATH=/srv/www/redasm_io/venv/bin"
ExecStart=/srv/www/redasm_io/venv/bin/uwsgi --ini redasm.ini

[Install]
WantedBy=multi-user.target
