<div>
    <ul class="nav nav-tabs" id="download-tab" role="tablist">
        {% for section in downloads.sections: %}
        <li class="nav-item">
            {% if section == downloads.sections[0]: %}
            <a class="nav-link active" id="{{section|identifier}}-tab" data-toggle="tab" href="#{{section|identifier}}" role="tab" aria-controls="{{section|identifier}}" aria-selected="true">{{section}}</a>
            {% else %}
            <a class="nav-link" id="{{section|identifier}}-tab" data-toggle="tab" href="#{{section|identifier}}" role="tab" aria-controls="{{section|identifier}}" aria-selected="false">{{section}}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <br>
    <div class="tab-content" id=download-tab-content">
        {% for section in downloads.sections: %}
            {% if section == downloads.sections[0]: %}
                <div class="tab-pane fade show active" id="{{section|identifier}}" role="tabpanel" aria-labelledby="{{section|identifier}}-tab">
            {% else %}
                <div class="tab-pane fade show " id="{{section|identifier}}" role="tabpanel" aria-labelledby="{{section|identifier}}-tab">
            {% endif %}
                {% include 'contents/download/' + section|identifier + '.html' %}
            </div>
        {% endfor %}
    </div>
    <br>
</div>
